@page
@model IndexModel
@{
	ViewData["Title"] = "OnlineShop";
}

<div class="text-center">
	<h1 class="display-4">Welcome to BurgasConf2022 OnlineShop</h1>
	<p>We provide this modules in our store:</p>
	@foreach (var module in Model.Modules)
	{
		<a class="navbar-brand" asp-area="" asp-page="Modules" asp-route-id="@module.Id">
			<strong>@module.Name</strong>
		</a>
	}
</div>
